.title {
    &__fz16 {
        font-family: 'Poppins Medium';
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
    }
    &__fz48 {
        font-family: 'Poppins Bold';
        font-size: 48px;
        font-weight: 700;
        font-style: normal;
        line-height: 100%;
    }
}

