@media (max-width: 1399px) {
    .sidepanel {
        left: 30px;
    }
}

@media (max-width: 1300px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            column-gap: 40px;
            row-gap: 20px;
        }
        &__skills {
            grid-template: repeat(2, minmax(50px, auto)) / repeat(1, minmax(115px, auto));
            &-item {
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            padding: 60px 0 0 0;
            column-gap: 10%;
        }
    }
    .iuse {
        padding-top: 80px;
        &__percent {
            &-wrapper {
                margin-top: 60px;
                row-gap: 15px;
            }
        }
    }
    .portfolio {
        padding-top: 80px;
        &__wrapper {
            margin-top: 60px;
            grid-template: repeat(2, 280px) / repeat(auto-fit, minmax(280px, 1fr));
        }
        .vertical, .horisontal {
            grid-row: unset;
            grid-column: unset;
        }
    }
    .contacts {
        margin-top: 80px;
        &__wrapper {
            column-gap: 40px;
        }
    }
    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz48 {
            font-size: 36px;
        }
        &_fz36 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            max-width: 400px;
        }
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 300px auto;
            column-gap: 30px;
        }
        &__photo {
            min-height: 400px;
        }
        
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(2, auto);
        }
    }
    .price {
        margin-top: 40px;
        &__grid {
            margin-top: 30px;
            padding-left: 25px;
            padding-right: 25px;
            grid-template-columns: repeat(auto-fit, minmax(280px, auto));
            justify-content: space-between;
        }
        &__cell {
            width: 280px;
        }
    }
    .contacts {
        margin-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .promo {
        &__title {
            max-width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: minmax(300px, auto);
            grid-template-rows: 360px minmax(100px, auto);
            column-gap: 20px;
            row-gap: 20px;
        }
        &__skills {
            grid-template: repeat(1, minmax(50px, auto)) / repeat(1, minmax(115px, auto));
            &-item {
                column-gap: 20px;
            }
        }
        &__photo {
            min-height: 360px;
            grid-row: 1/2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: repeat(1, auto);
            row-gap: 30px;
        }
    }
    .iuse {
        padding-top: 40px;
        &__percent {
            &-wrapper {
                margin-top: 30px;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            margin-top: 40px;
        }
    }
    .price {
        &__grid {
            justify-content: center;
        }
    }
    .contacts {
        margin-top: 40px;
        &__form {
            grid-template: 45px 45px 45px / repeat(1,minmax(100px, auto));
            grid-auto-rows: 45px;
        }
        &__photo {
            display: none;
        }
        &__textarea {
            grid-column: unset;
            grid-row: 3 / 5;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: auto 1fr;
        }
    }
}

@media (max-width: 568px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 55%/cover;
        &__btn {
            margin-top: 30px;
        }
    }
    .menu {
        &__block {
            position: relative;
            width: 250px;
            padding-top: 140px;
            padding-left: 20px;
        }
        &__link {
            a {
                font-size: 18px;
                &:before {
                    left: -35px;
                    top: 5px;
                }
            }
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-rows: 340px minmax(100px, auto);
        }
        &__photo {
            min-height: 340px;
        }
    }
    .resume {
        &__item {
            &-second {
                margin-top: -25px;
            }
        }
    }
    .iuse {
        &__percent {
            &-wrapper {
                grid-template-columns: repeat(auto-fit, minmax(300px, auto));
                row-gap: 15px;
            }
        }
    }
    .price {
        &__grid {
            padding-left: 25px;
            padding-right: 0px;
        }
    }
    .contacts {
        &__triggers {
            grid-column: unset;
            grid-template-columns: auto;
            justify-content: center;
        }
        &__policy {
            display: flex;
            align-items: center;
            width: 200px;
            margin: 0 auto;
            order: -1;
            margin-bottom: 20px;
        }
    }

}