.hamburger {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    &.active {
        left: 0px;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        /* left: -100%; */
        position: relative;
        width: 345px;
        height: 100%;
        background-color: $main-color;
        padding-top: 140px;
        padding-left: 40px;
        z-index: 3;
    }
    &__list {
        list-style-type: none;
        padding-left: 35px;
    }
    &__link {
        position: relative;
        margin-bottom: 15px;
        a {
            color: $white;
            font-weight: 700;
            font-size: 24px;
            &:before {
                content: '';
                position: absolute;
                left: -35px;
                top: 10px;
                width: 15px;
                height: 15px;
                border: 1px solid $black;
                border-radius: 100%;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                text-decoration: none;
                &:before {
                    background-color: $white;
                    border: 1px solid $white;
                }
            }
        }
    }
    &__social {
        width: 90px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        /* right: calc(50% - 36px); */
        left: 50%;
        transform: translateX(-50%);
    }
    &__close {
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    &__overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $white;
        opacity: .7;
    }
}