.policy {
    padding: 50px 0 50px 0;
    h1 {
        font-size: 32px;
        line-height: 100%;
    }
    h2 {
        font-size: 24px;
        margin-top: 30px;
    }
    ul {
        list-style: none;
        margin-top: 16px;
        padding-left: 27px;
        li {
            margin-top: 8px;
        }
    }
    table {
        margin-top: 16px;
        margin-left: 27px;
        td {            
            border: 1px solid $black;
            padding: 5px;
        }
    }
}